<!DOCTYPE html>
<html lang="ko">
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>장비서</title>
    <meta name="description" content="A project that provides price data services." />
    <meta name="author" content="TMI" />

    <link rel="stylesheet" href="/styles/reset.css">
    <link rel="stylesheet" href="/styles/detailprice.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gothic+A1:wght@300;400;500;700;800&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="icon" type="image/png" href="/assets/icons/favicon.png" />

    <!-- 차트 관련 스크립트 시작 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
    <!-- 차트 관련 스크립트 끝 -->
</head>

<body>
    <header class="header" display="none">
        <!-- Navbar -->
        <nav id="navbar__vers-green">
            <div class="navbar__logo">
                <a href="/">
                    <img src="/assets/icons/jang_logo_green.png" alt="장비서 로고" class="logo__green">
                </a>
            </div>
            <ul class="navbar__menu">
                <li><a href="/shoppinglist" class="navbar__menu__item">쇼핑 리스트</a></li>
                <li><a href="/pricedatadetail" class="navbar__menu__item active">오늘의 물가</a></li>
                <li><a href="/accountbook" class="navbar__menu__item">가계부 정리</a></li>
                <li><a href="/signin" class="navbar__menu__item">회원가입</a></li>
                <li><button type="button" id="open" class="navbar__menu__login-btn">로그인</button></li>
            </ul>
        </nav>
    </header>
    <!-- Title bar -->

    <section id="titlebar">
        <div id="titleText">
            <span class="tit__sub__txt">매일매일,</span>
            <h1>오늘의 물가 확인하기 🔍</h1>
        </div>
   
        <!-- Search Input -->
        <div class="inputWithIcon">
            <input type="text" class="search-box" placeholder="어느 품목의 물가를 검색할까요?">
            <i class="material-icons">search</i>
        </div>
    </section>


    <!--Detail Price page-->
    <section id="detailprice" class="section">
        <div class="detailprice">
            <div class="detailprice_left">
                <div class="detailprice_left_top">
                    <div class="detailprice_left_top_title">
                         <h2> 애호박 </h2>
                    </div>
                    <div class="detailprice_left_top_price">
                        평균 &nbsp <span class="detailprice_left_top_redtext"> 1,695 </span> &nbsp 원 / 1개 기준
                    </div>
                    <div class="detailprice_left_top_button">
                        <table class="table">  
                            <tbody id="tbody">
                                <tr class="twofont">
                                    <td colspan="2">품종 선택</td>
                                    <td colspan="2">등급 선택</td>    
                                </tr>
                                <tr class="goodsTd">                                            
                                    <td> <button class="grayTd"> 애호박 </button> </td>
                                    <td> <button class="blueTd"> 쥬키니 </button> </td>
                                    <td> <button class="blueTd"> 상품 </button> </td>
                                    <td> <button class="grayTd"> 중품 </button> </td>    
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="detailprice_left_bottom">
                    <div class="detailprice_left_bottom_price">
                        <div class="detailprice_left_bottom_price_left">
                            <h2> 가격 </h2>
                        </div>
                        <div class="detailprice_left_bottom_price_right">
                            <h2> 상품 1개 기준 </h2>
                        </div>
                    </div>
                    <div class="detailprice_left_bottom_table">
                        <table class="table">
                            <tr class="graph">
                                <td>구분</td>
                                <td>1일전</td>
                                <td>일주일전</td>
                                <td>한달전</td>
                                <td>1년전</td>
                            </tr>
                            <tr class="graph1">
                                <td class="graph_td">평균</td>
                                <td>100</td>
                                <td>200</td>
                                <td>300</td>
                                <td>400</td>
                            </tr>
                            <tr class="graph2">
                                <td class="graph_td">등락률</td>
                                <td class="graph2_plus_fontcolor"> -100 </td>
                                <td class="graph2_plus_fontcolor"> -200 </td>
                                <td class="graph2_minus_fontcolor"> +300</td>
                                <td class="graph2_minus_fontcolor"> +400</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="detailprice_right">
                <div class="detailprice_right_title">
                    <div class="detailprice_right_title_left">
                        <h2> 가격 변동 추이 </h2>
                    </div>
                    <div class="detailprice_right_title_right">
                        <h2> <span class="commonyear"> ■ </span> 평년 <span class="yesteryear"> ■ </span> 2021 <span class="thisyear"> ■ </span> 2022 </h2>
                    </div>
                </div>
                <div class="detailprice_right_chart">

                    <!-- 차트 시작 -->
                    <div class="detailprice_right_chart_display">
                        <canvas id="myChart"></canvas>
                    </div>
                    
                    <script>
                    // 우선 컨텍스트를 가져옵니다. 
                    var ctx = document.getElementById("myChart").getContext('2d');
                    /*
                    - Chart를 생성하면서, 
                    - ctx를 첫번째 argument로 넘겨주고, 
                    - 두번째 argument로 그림을 그릴때 필요한 요소들을 모두 넘겨줍니다. 
                    */
                    var myChart = new Chart(ctx, {
                        type: 'bar',
                        data: {
                            labels: ["Red", "Blue", "Yellow", "Green", "Purple", "Orange"],
                            datasets: [{
                                label: '# of Votes',
                                data: [12, 19, 3, 5, 2, 3],
                                backgroundColor: [
                                    'rgba(255, 99, 132, 0.2)',
                                    'rgba(54, 162, 235, 0.2)',
                                    'rgba(255, 206, 86, 0.2)',
                                    'rgba(75, 192, 192, 0.2)',
                                    'rgba(153, 102, 255, 0.2)',
                                    'rgba(255, 159, 64, 0.2)'
                                ],
                                borderColor: [
                                    'rgba(255,99,132,1)',
                                    'rgba(54, 162, 235, 1)',
                                    'rgba(255, 206, 86, 1)',
                                    'rgba(75, 192, 192, 1)',
                                    'rgba(153, 102, 255, 1)',
                                    'rgba(255, 159, 64, 1)'
                                ],
                                borderWidth: 1
                            }]
                        },
                        options: {
                            maintainAspectRatio: true, // default value. false일 경우 포함된 div의 크기에 맞춰서 그려짐.
                            scales: {
                                yAxes: [{
                                    ticks: {
                                        beginAtZero:true
                                    }
                                }]
                            }
                        }
                    });
                    </script>
                    <!-- 차트 끝 -->

                </div>
            </div>
        </div>
    </section>



</body>
</html>