<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>장비서</title>
    <meta name="description" content="A project that provides price data services." />
    <meta name="author" content="TMI" />
    <link rel="stylesheet" href="/styles/reset.css">
    <link rel="stylesheet" href="/styles/main_lastpage.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gothic+A1:wght@300;400;500;700;800&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="icon" type="image/png" href="/assets/icons/jang_logo_green.png" />
</head>

<body>

    <section id="main_lastpage">
        <div class="main_lastpage_image">
            <div class="main_lastpage_shoppinglist_button">
                <a href="shoppinglist">
                    <div class="main_lastpage_number">#01</div>
                    <div><img src="/assets/images/bg2.jpg" alt="쇼핑리스트 배경" class="main_lastpage_shoppinglist_img">
                    </div>
                    <div class="main_lastpage_shoppinglist_word">쇼핑 체크리스트</div>
                </a>
            </div>
            <div>
                <div class="main_lastpage_account_button">
                    <a href="pricedata">
                        <div class="main_lastpage_number">#02</div>
                        <div><img src="/assets/images/bg3.jpg" alt="가계부 배경" class="main_lastpage_account_img">
                        </div>
                        <div class="main_lastpage_account_word">오늘의 물가 확인하기</div>
                    </a>
                </div>
                <div class="main_lastpage_discount_button">
                    <a href="accountbook">
                        <div class="main_lastpage_number">#03</div>
                        <div><img src="/assets/images/bg6.PNG" alt="마트별 할인 정보 확인 배경"
                                class="main_lastpage_discount_img"></div>
                        <div class="main_lastpage_discount_word">가계부 작성하기</div>
                    </a>
                </div>
            </div>
            <div class="main_lastpage_price_button">
                <a href="#">
                    <div class="main_lastpage_number">#04</div>
                    <div><img src="/assets/images/bg1.jpg" alt="오늘의 물가 배경" class="main_lastpage_price_img"></div>
                    <div class="main_lastpage_price_word">마트별 할인정보</div>
                </a>
            </div>
        </div>
    </section>
</body>

</html>