@charset "utf-8";

/* Global */
:root {
  /* Color */
  --color-white: #ffffff;
  --color-yellow: #fffcb6;
  --color-light-green: #e1fff0;
  --color-green: #4cd492;
  --color-light-blue: #aad6ff;
  --color-blue: #7cb0ff;
  --color-dark-blue: #0034ec;
  --color-light-red: #fbc3c3;
  --color-red: #eb7767;
  --color-regular-red: #e74c3c;
  --color-dark-red: #e10000;
  --color-grey: #d9d9d9;
  --color-font-grey: #585858;
  --color-black: #231816;

  /* Font size */
  --font-large: 40px;
  --font-medium: 22px;
  --font-regular: 18px;
  --font-small: 15px;
  --font-micro: 13px;

  /* Font weight */
  --weight-extra-bold: 800;
  --weight-bold: 700;
  --weight-medium: 500;
  --weight-regular: 400;
  --weight-light: 300;

  /* Size */
  --btn-border-radius: 10px;
  --input-border-radius: 10px;
  --shopping-list-border-radius: 10px;
  --map-border-radius: 10px;
  --price-list-border-radius: 30px;

  /* Animation */
  /* --animation-duration: 300ms; */
}

/* Icon - Google Material icons */
@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: url(path/to/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local("Material Icons"), local("MaterialIcons-Regular"),
    url(path/to/MaterialIcons-Regular.woff2) format("woff2"),
    url(path/to/MaterialIcons-Regular.woff) format("woff"),
    url(path/to/MaterialIcons-Regular.ttf) format("truetype");
}

/* Utility */
/* 스크린 리더 전용 */
.sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

/* 한줄 말줄임 */
.sl-ellipsis {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* 둘줄 말줄임 */
.multi-ellipsis {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

/* Universal tags*/
* {
  box-sizing: border-box;
}

body {
  font-family: "Gothic A1", sans-serif;
  margin: 0;
  cursor: default;
}

a {
  text-decoration: none;
  color: var(--color-white);
}

ul {
  list-style: none;
  padding-left: 0;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

/* Typography */

h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-white);
  margin: 16px 0px;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-bold);
  color: var(--color-white);
  margin: 8px 0;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 4px 0;
}

/* (1920x1080) Full HD Display */
/* Header */
.header {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 170px;
  margin: auto;
  justify-content: center;
  align-items: center;
}

/* Navbar */
#navbar__vers-green {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 28px 200px;
}

.logo__green {
  width: auto;
  height: 78px;
}

.navbar__menu {
  display: flex;
  align-items: center;
  width: 760px;
  height: 68px;
}

.navbar__menu__item {
  margin-right: 35px;
  font-size: 23px;
  height: 28px;
  font-weight: var(--weight-bold);
  color: var(--color-black);
  cursor: pointer;
}

.navbar__menu__item.active {
  color: var(--color-green);
  font-weight: var(--weight-extra-bold);
}

.navbar__menu__login-btn {
  width: 160px;
  height: 63px;
  font-size: 23px;
  background-color: var(--color-green);
  color: var(--color-white);
  border-radius: var(--btn-border-radius);
}

/* Title bar */
#titlebar {
  display: flex;
  top: 170px;
  width: 100%;
  height: 106px;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-green);
  padding: 0 203px;
}

#titleText {
  display: flex;
  flex-direction: row;
}

.tit__sub__txt {
  font-size: var(--font-large);
  font-weight: var(--weight-light);
  color: var(--color-white);
  margin: 15px 0;
}

/* Search Form */
input[type="text"] {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 487px;
  height: 61px;
  border: 1.5px solid var(--color-grey);
  border-radius: var(--input-border-radius);
  font-size: 20px;
  margin: 0;
  outline: none;
  box-sizing: border-box;
  transition: 0.3s;
  font-size: 11px;
  color: var(--color-black);
}

input[type="text"]:focus {
  border-color: var(--color-green);
  box-shadow: 0 0 8px 0 var(--color-green);
}

.inputWithIcon input[type="text"] {
  padding-left: 60px;
  font-size: 20px;
  font-weight: 400;
  color: var(--color-grey);
}

.inputWithIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  color: var(--color-grey);
}

.inputWithIcon i {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  top: 1px;
  font-size: 40px;
  width: 35px;
  height: 33px;
  margin: 14px;
  color: var(--color-grey);
  transition: 0.3s;
}

.inputWithIcon input[type="text"]:focus + i {
  color: var(--color-green);
}

/* Section common */
.section {
  padding: 50px 0 0 0;
  max-width: 1520px;
  margin: auto;
}

/* PriceData Page */
.accountbook {
  width: 1520px;
  height: 700px;
}

.accountbook_left {
  width: 760px;
  height: 700px;
  float: left;
}

.accountbook_right {
  width: 760px;
  height: 700px;
  float: right;
}

/* 달력 CSS */

.right_price {
  width: 760px;
  margin-top: 30px;
  display: flex;
}

.right_price_top {
  border: 1px solid white;
  flex: 1;
  width: 250px;
  height: 30px;
  box-sizing: border-box;
  text-align: center;
  color: black;
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
}

.right_price_middle {
  border: 1px solid white;
  flex: 1;
  width: 250px;
  height: 30px;
  box-sizing: border-box;
  text-align: center;
  color: black;
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
}

.right_price_bottom {
  border: 1px solid white;
  flex: 1;
  width: 250px;
  height: 30px;
  box-sizing: border-box;
  text-align: center;
  color: black;
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
}

.right_price_data {
  width: 760px;
  border: 1px solid #eeeeee;
  background-color: #eeeeee;
  border-radius: 30px;
  display: flex;
}

.right_price_data_top {
  flex: 1;
  width: 250px;
  height: 40px;
  box-sizing: border-box;
  text-align: center;
  color: black;
  font-weight: 700;
  font-size: 25px;
  line-height: 35px;
  margin-top: 10px;
}

.right_price_data_middle {
  flex: 1;
  width: 250px;
  height: 40px;
  box-sizing: border-box;
  text-align: center;
  color: black;
  font-weight: 700;
  font-size: 25px;
  line-height: 35px;
  margin-top: 10px;
}

.right_price_data_bottom {
  flex: 1;
  width: 250px;
  height: 40px;
  box-sizing: border-box;
  text-align: center;
  color: black;
  font-weight: 700;
  font-size: 25px;
  line-height: 35px;
  margin-top: 10px;
}

.right_list {
  width: 760px;
  height: 40px;
  margin-top: 10px;
}

.list {
  width: 380px;
  height: 30px;
  float: left;
  font-weight: 500;
  font-size: 30px;
  line-height: 38px;
  color: #000000;
}

.OCR {
  width: 380px;
  height: 30px;
  float: right;
  font-weight: 700;
  font-size: 25px;
  line-height: 31px;
  color: #ffffff;
  background: #eb7767;
  border-radius: 30px;
  text-align: center;
  margin: auto;
}

.right_list_text {
  width: 760px;
  height: 400px;
  overflow: scroll;
}

.right_list_text_table {
  text-align: center;
}

.ocr_title {
  width: 730px;
  height: 30px;
  border-bottom: 2px solid #585858;
}

.product_name {
  text-align: center;
  float: left;
  width: 35%;
  height: 30px;
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  color: #000000;
}

.product_unit_price {
  text-align: center;
  float: left;
  width: 20%;
  height: 30px;
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  color: #000000;
}

.product_count {
  text-align: center;
  float: left;
  width: 20%;
  height: 30px;
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  color: #000000;
}

.product_price {
  text-align: center;
  float: left;
  width: 20%;
  height: 30px;
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  color: #000000;
}

.uploader {
  display: none;
}

.input-file-button {
  font-size: 20px;
  height: 30px;
  float: right;
  margin-right: 10px;
  margin-top: 5px;
  /* margin-right : 10px; */
  padding: 5px 25px 25px;
  background-color: #eb7767;
  border-radius: 30px;
  color: white;
  cursor: pointer;
}

.choice_date {
  font-weight: 500;
  font-size: 30px;
  line-height: 38px;
  margin-top: 20px;
  color: #000000;
}

.product_contents {
  width: 730px;
  height: 30px;
}

.product_name_1 {
  text-align: left;
  float: left;
  width: 35%;
  height: 30px;
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  color: #000000;
}

.product_unit_price_2 {
  text-align: center;
  float: left;
  width: 20%;
  height: 30px;
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  color: #000000;
}

.product_count_3 {
  text-align: center;
  float: left;
  width: 20%;
  height: 30px;
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  color: #000000;
}

.product_price_4 {
  text-align: center;
  float: left;
  width: 20%;
  height: 30px;
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  color: #000000;
}

.comment {
  width: 760px;
  height: 25px;
}

.comment_left {
  width: 380px;
  height: 25px;
  float: left;
  text-align: center;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  color: #585858;
}

.comment_right {
  width: 380px;
  height: 25px;
  float: right;
  text-align: center;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  color: #585858;
}

.left_logo {
  width: 70px;
  height: 50px;
  float: left;
}

.left_text {
  width: 310px;
  height: 50px;
  float: right;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  color: #585858;
  margin-top : 5px;
  text-align : left;
}

.right_logo {
  width: 70px;
  height: 50px;
  float: left;
}

.right_text {
  width: 310px;
  height: 50px;
  float: right;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  color: #585858;
  margin-top : 5px;
  text-align : left;
}

.calendar {
  width: 600px;
  height: 500px;
  margin-top: 10px;
  margin-left: 60px;
}

.calendar_header {
  display: flex;
  width: 620px;
  justify-content: space-between;
  background-color: #4cd492;
  align-items: center;
  border-radius: 10px 10px 1px 1px;
  box-shadow: 5px 5px 5px 5px rgb(177, 177, 177);
  margin-top: 20px;
}

.year-month {
  margin-left: 30px;
  height: 60px;
  margin-top: 20px;
  font-weight: 700;
  font-size: 35px;
  line-height: 44px;
  color: #ffffff;
}

.nav {
  display: flex;
  border: none;
  border-radius: 5px;
  margin-right: 5px;
}

.nav-btn {
  width: 28px;
  height: 30px;
  border: none;
  font-size: 16px;
  line-height: 34px;
  background-color: transparent;
  cursor: pointer;
}

.go-today {
  width: 75px;
  border-left: none;
  border-right: none;
}

.days {
  display: flex;
  background-color: #4cd492;
  border-radius: 5px solid #4cd492;
}

.day {
  height: 50px;
  margin-top: 20px;
  font-weight: 500;
  font-size: 25px;
  line-height: 31px;
  color: #ffffff;
  width: calc(100% / 7);
  text-align: center;
  border-radius: 5px solid #4cd492;
}

.dates {
  display: flex;
  flex-flow: row wrap;
  width: 600px;
  height: 500px;
  border-top: 1px solid white;
  border-right: 1px solid white;
  border-radius: 20px;
  font-weight: 400;
  font-size: 35px;
  line-height: 44px;
  color: #585858;
  text-align: center;
}

.date {
  width: calc(100% / 7);
  padding: 15px;
  text-align: right;
  border-bottom: none;
  border-left: none;
}

.day:nth-child(7n + 1),
.date:nth-child(7n + 1) {
  color: #d13e3e;
}

.day:nth-child(7n),
.date:nth-child(7n) {
  color: #396ee2;
}

.other {
  opacity: 0.3;
}

.today {
  position: relative;
  color: #ffffff;
}

.today::before {
  position: absolute;
  top: 46%;
  left: 54%;
  transform: translate(-50%, -50%);
  z-index: -1;
  width: 50px;
  height: 50px;
  display: block;
  background-color: #4cd492;
  border-radius: 50%;
  content: "";
}

.nav-btn go-next {
  border: 1px solid white;
}

.calendar_main {
  border: none;
  border-radius: 20px;
  width: 620px;
  box-shadow: 5px 10px 5px 5px rgb(177, 177, 177);
}

.nav-btn go-prev {
  font-size: 20px;
}
