@charset "utf-8";

/* Global */
:root {
  /* Color */
  --color-white: #ffffff;
  --color-yellow: #fffcb6;
  --color-light-green: #e1fff0;
  --color-green: #4cd492;
  --color-light-blue: #aad6ff;
  --color-blue: #7cb0ff;
  --color-dark-blue: #0034ec;
  --color-light-red: #fbc3c3;
  --color-red: #eb7767;
  --color-regular-red: #e74c3c;
  --color-dark-red: #e10000;
  --color-grey: #d9d9d9;
  --color-font-grey: #585858;
  --color-black: #231816;

  /* Font size */
  --font-large: 40px;
  --font-medium: 22px;
  --font-regular: 18px;
  --font-small: 15px;
  --font-micro: 13px;

  /* Font weight */
  --weight-extra-bold: 800;
  --weight-bold: 700;
  --weight-semibold:600;
  --weight-medium: 500;
  --weight-regular: 400;
  --weight-light: 300;

  /* Size */
  --btn-border-radius: 10px;
  --input-border-radius: 10px;
  --shopping-list-border-radius: 10px;
  --map-border-radius: 20px;
  --price-list-border-radius: 30px;

  /* Animation */
  /* --animation-duration: 300ms; */
}

/* Icon - Google Material icons */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(path/to/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'), local('MaterialIcons-Regular'),
    url(path/to/MaterialIcons-Regular.woff2) format('woff2'),
    url(path/to/MaterialIcons-Regular.woff) format('woff'),
    url(path/to/MaterialIcons-Regular.ttf) format('truetype');
}

/* Utility */
/* 스크린 리더 전용 */
.sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

/* 한줄 말줄임 */
.sl-ellipsis {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* 둘줄 말줄임 */
.multi-ellipsis {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

/* Universal tags*/
* {
  box-sizing: border-box;
}

body {
  font-family: 'Gothic A1', sans-serif;
  margin: 0;
  cursor: default;
}

a {
  text-decoration: none;
  color: var(--color-white);
}

ul {
  list-style: none;
  padding-left: 0;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

/* Typography */

h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-white);
  margin: 16px 0px;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-bold);
  color: var(--color-white);
  margin: 8px 0;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 4px 0;
}

/* (1920x1080) Full HD Display */
/* Header */
.header {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 170px;
  margin: auto;
  justify-content: center;
  align-items: center;
}

/* Navbar */
#navbar__vers-green {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 28px 200px;
}

.logo__green {
  width: auto;
  height: 78px;
}

.navbar__menu {
  display: flex;
  align-items: center;
  width: 760px;
  height: 68px;
}

.navbar__menu__item {
  margin-right: 35px;
  font-size: 23px;
  height: 28px;
  font-weight: var(--weight-bold);
  color: var(--color-black);
  cursor: pointer;
}

.navbar__menu__item.active {
  color: var(--color-green);
  font-weight: var(--weight-extra-bold);
}

.navbar__menu__login-btn {
  width: 160px;
  height: 63px;
  font-size: 23px;
  background-color: var(--color-green);
  color: var(--color-white);
  border-radius: var(--btn-border-radius);
}

/* Title bar */
#titlebar {
  display: flex;
  top: 170px;
  width: 100%;
  height: 106px;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--color-green);
  padding: 0 203px;
}

.tit__sub__txt {
  font-size: var(--font-large);
  font-weight: var(--weight-light);
  color: var(--color-white);
  margin: 8px 0;
}

/* Section common */
.section {
  padding: 50px 0 0 0;
  max-width: 1520px;
  margin: auto;
}

/* Shopping List Page 2 */
#shopping-list {
  display: flex;
  height: 100%;
  justify-content: center;
}

.shopping-list__list-container {
  display: flex;
  flex-direction: column;
  width: 487px;
  margin-right: 20px;
}

/* Search Form */
input[type='text'] {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 487px;
  height: 61px;
  border: 1.5px solid var(--color-grey);
  border-radius: var(--input-border-radius);
  font-size: 20px;
  margin: 0;
  outline: none;
  /* padding: 4px; */
  box-sizing: border-box;
  transition: 0.3s;
  font-size: 11px;
  color: var(--color-black);
}

input[type='text']:focus {
  border-color: var(--color-green);
  box-shadow: 0 0 8px 0 var(--color-green);
}

.inputWithIcon input[type='text'] {
  padding-left: 60px;
  font-size: 20px;
  font-weight: 400;
  color: var(--color-grey);
}

.inputWithIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  color: var(--color-grey);
}

.inputWithIcon i {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  top: 1px;
  font-size: 40px;
  width: 35px;
  height: 33px;
  margin: 14px;
  color: var(--color-grey);
  transition: 0.3s;
}

.inputWithIcon input[type='text']:focus + i {
  color: var(--color-green);
}

/* Mart List */
.shopping-list__mart-info__container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.shopping-list__mart-info {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 487px;
  height: 158px;
  border: 1px solid var(--color-grey);
  margin-top: 16px;
  margin-bottom: 26px;
  padding: 0 22px;
}

.shopping-list__mart-info:active {
  border-color: var(--color-green);
  box-shadow: 0 0 8px 0 var(--color-green);
}

.shopping-list__mart-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
}

.sort {
  display: inline-block;
  align-items: center;
}

.shopping-list__mart-num {
  display: flex;
  margin-right: 18px;
  width: 34px;
  height: 36px;
  font-size: var(--font-large);
  font-weight: var(--weight-extra-bold);
  color: var(--color-green);
}

.shopping-list__mart-tit {
  display: flex;
  width: 146px;
  height: 23px;
  margin-right: 18px;
  align-items: center;
  font-size: 20px;
  font-weight: var(--weight-extra-bold);
}

.shopping-list__mart-list__item {
  height: 17px;
  font-size: 15px;
  font-weight: var(--weight-medium);
}

.shopping-list__mart-sub {
  flex-direction: column;
  margin: 0 18px 0 51px;
  width: 137px;
  font-size: 14px;
}

.shopping-list__mart-list__desc {
  height: 17px;
  align-content: flex-start;
  font-size: 15px;
  font-weight: var(--weight-medium);
  margin-top: 11px;
}

.item-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 231px;
  height: 34px;
  font-size: 15px;
  font-weight: var(--weight-medium);
  background: var(--color-blue);
  border-radius: var(--btn-border-radius);
}

/* Click 일단 이렇게 구현했습니다 저의 한계.. */
.item-star {
  margin-left: 396px;
}
.item-star::after {
  display: flex;
  content: '';
  width: 14px;
  height: 13px;
  vertical-align: top;
}

/* Mart Map */
.shopping-list__map-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 1000px;
  height: 635px;
  background-image: url(../assets/images/mapImg.png);
}

.shopping-list__pin-card {
  display: flex;
  margin: 20px;
}

.shopping-list__pin-img {
  position: absolute;
  left: 266px;
  overflow: hidden;
}

.pin-img {
  width: 106px;
  height: 106px;
}

.pin-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 363px;
  height: 108px;
  border: 2px solid var(--color-black);
  background-color: var(--color-white);
  border-radius: var(--map-border-radius);
  padding: 10px 50px;
  box-sizing: border-box;
}

.pin-content__container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 343px;
}

.pin-content__num {
  display: flex;
  margin-right: 6px;
  width: 34px;
  height: 36px;
  font-size: var(--font-large);
  font-weight: var(--weight-extra-bold);
  color: var(--color-regular-red);
}

.pin-content__title {
  display: flex;
  height: 23px;
  align-items: center;
  font-size: 20px;
  font-weight: var(--weight-extra-bold);
}

.pin-content__time {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15px;
  font-size: 13px;
  font-weight: var(--weight-regular);
  margin-bottom: 10px;
}

.pin-content__time .material-icons {
  margin-left: 14px;
}

.time-tit {
  font-weight: 700;
  margin-right: 4px;
}

.pin-content__price-tit {
  display: flex;
  align-items: center;
  height: 21px;
  font-size: 18px;
  font-weight: var(--weight-extra-bold);
  color: var(--color-regular-red);
  margin-right: 22px;
}

.pin-content__price-cont {
  font-size: 15px;
}
/* Shoppinglist Page3 */
/*Mart-result(price)*/

/*shoppinglist main 시작*/
.shoppinglist3_tit_box{
  width: 100%;
  height: 70px;
  display: flex;
  justify-content:center;
  margin:auto;
  font-size : 40px;
}

.shoppinglist3_tit {
  display: flex;
}

.shoppinglist3_priceList_title{
  height:100%;
}
.shoppinglist3_priceList_title i{
font-size:40px;
}

.shoppinglist3_tit_price {
  color : var(--color-green);
  font-weight: var(--weight-bold); 
}


/*shoppinglist table 시작*/
.shoppinglist3_priceList_table .shoppinglist3_priceList_title{
  width: 1500px;
  height: 50px;
  display: flex;  
  font-size: 32px;
  border-radius : 10px;
  margin-bottom:25px;
  margin-top:30px;
}

.shoppinglist3_priceList_title {
  font-size : 28px;
  font-weight: var(--weight-bold);
  color : var(--color-font-grey)
}

.shoppinglist3_priceList_title >div {
  margin-top: 5px;
  height:57px;
}

.shoppinglist3_pricelist_box{
  width: 1500px;
  height: 50px;
  margin: 10px auto;
  display: flex;
  background-color :#E1FFF0;  
  font-size: 28px;
  justify-content: center;
  border-radius : 10px;
  color: var(--color-font-grey);
}

.pricelist_first{
  border: 1px;
  width: 800px;
  box-sizing: border-box;
  margin-left:4%;
  margin-top:0.7%;
  text-align: left;
}

.pricelist_second{
    border: 1px;
    margin-left: 1%;
    width:200px;
    box-sizing: border-box;
    margin-top:0.7%;
    text-align:center;
}
.pricelist_third{
  border: 1px;
  margin-left: 1%;
  width:250px;
  box-sizing: border-box;
  margin-top:0.7%;
  text-align:center;
}

.pricelist_fourth{
  border: 1px ;
	margin-left: 1%;
  margin-right: 2%;
  width:250px;
  box-sizing: border-box;
  margin-top:0.7%;
  text-align:center;
}

.shoppinglist3_subject {
  font-weight: var(--weight-bold);
  text-align:center;
}

.shoppinglist3_class {
  font-weight: var(--weight-light);
  font-size:24px;
  text-align:center;
}

.shoppinglist3_kind {
  font-weight: var(--weight-light);
  font-size:24px;
  text-align:center;
}

.shoppinglist3_quantity {
  font-weight: var(--weight-regular);
  text-align:center;
}

.shoppinglist3_sub_text {
  margin-top: 80px; 
  font-size:33px;
  display: flex;
  justify-content: center;
}

.shoppinglist3_sub_text > .shoppinglist3_sub_text_avg {
  display: flex;
  background-color: var(--color-yellow);
  color: #FF5858;
  font-weight: var(--weight-extra-bold);
  font-size: 40px;
  line-height: 30px;
}

.shoppinglist3_sub_text2 {
  margin-top: 20px;
  font-size: 33px;
  display: flex;
  justify-content: center;
  color: var(--color-font-grey);
}

.shoppinglist3_sub_text_mart {
  background-color: var(--color-yellow);
  font-weight: var(--weight-bold);
}

.shoppinglist3_sub_text2_group {
  display: flex;
  background-color: var(--color-yellow);
  color: #FF5858;
  font-weight: var(--weight-extra-bold);
  font-size: 40px;
  line-height: 30px;
}

.shoppinglist3_martprice {
  font-weight: var(--weight-semibold);
}

.shoppinglist3_avg_price {
  font-weight: var(--weight-semibold);
}

/* .shoppinglist3_textbox{
  display: flex;
} */

.jang_textbox{
  margin-left: -100px;
  width: 1200px;
}

.shoppinglist3_jang_textbox{
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.shoppinglist3_jang_text {
  margin-top: 190px;
  margin-bottom: 300px;
  margin-left: -760px;
  font-size : 35px;
  font-weight: var(--weight-regular);
  color: var(--color-font-grey);
}

.shoppinglist3_sub_differ_price {
  color : #FF5858;
  font-weight: var(--weight-bold);
}

.shoppinglist3_recomm_product {
  font-weight: var(--weight-bold);
}


