@charset "utf-8";

/* Global */
:root {
  /* Color */
  --color-white: #ffffff;
  --color-yellow: #fffcb6;
  --color-light-green: #e1fff0;
  --color-green: #4cd492;
  --color-light-blue: #aad6ff;
  --color-blue: #7cb0ff;
  --color-dark-blue: #0034ec;
  --color-light-red: #fbc3c3;
  --color-red: #eb7767;
  --color-regular-red: #e74c3c;
  --color-dark-red: #e10000;
  --color-grey: #d9d9d9;
  --color-font-grey: #585858;
  --color-black: #231816;

  /* Font size */
  --font-large: 40px;
  --font-medium: 22px;
  --font-regular: 18px;
  --font-small: 15px;
  --font-micro: 13px;

  /* Font weight */
  --weight-extra-bold: 800;
  --weight-bold: 700;
  --weight-medium: 500;
  --weight-regular: 400;
  --weight-light: 300;

  /* Size */
  --btn-border-radius: 10px;
  --input-border-radius: 10px;
  --shopping-list-border-radius: 10px;
  --map-border-radius: 20px;
  --price-list-border-radius: 30px;

  /* Animation */
  /* --animation-duration: 300ms; */
}

/* Icon - Google Material icons */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(path/to/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'), local('MaterialIcons-Regular'),
    url(path/to/MaterialIcons-Regular.woff2) format('woff2'),
    url(path/to/MaterialIcons-Regular.woff) format('woff'),
    url(path/to/MaterialIcons-Regular.ttf) format('truetype');
}

/* Utility */
/* 스크린 리더 전용 */
.sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

/* 한줄 말줄임 */
.sl-ellipsis {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* 둘줄 말줄임 */
.multi-ellipsis {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

/* Universal tags*/
* {
  box-sizing: border-box;
}

body {
  font-family: 'Gothic A1', sans-serif;
  margin: 0;
  cursor: default;
}

a {
  text-decoration: none;
  color: var(--color-white);
}

ul {
  list-style: none;
  padding-left: 0;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

/* Typography */

h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-white);
  margin: 16px 0px;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-bold);
  color: var(--color-white);
  margin: 8px 0;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 4px 0;
}

/* (1920x1080) Full HD Display */
/* Header */
.header {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 170px;
  margin: auto;
  justify-content: center;
  align-items: center;
}

/* Navbar */
#navbar__vers-green {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 28px 200px;
}

.logo__green {
  width: auto;
  height: 78px;
}

.navbar__menu {
  display: flex;
  align-items: center;
  width: 760px;
  height: 68px;
}

.navbar__menu__item {
  margin-right: 35px;
  font-size: 23px;
  height: 28px;
  font-weight: var(--weight-bold);
  color: var(--color-black);
  cursor: pointer;
}

.navbar__menu__item.active {
  color: var(--color-green);
  font-weight: var(--weight-extra-bold);
}

.navbar__menu__login-btn {
  width: 160px;
  height: 63px;
  font-size: 23px;
  background-color: var(--color-green);
  color: var(--color-white);
  border-radius: var(--btn-border-radius);
}

/* Title bar */
#titlebar {
  display: flex;
  top: 170px;
  width: 100%;
  height: 106px;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--color-green);
  padding: 0 203px;
}

.tit__sub__txt {
  font-size: var(--font-large);
  font-weight: var(--weight-light);
  color: var(--color-white);
  margin: 8px 0;
}

/* Section common */
.section {
  padding: 50px 0 0 0;
  max-width: 1520px;
  margin: auto;
}

/* Shoppinglist Page3 */
/*Mart-result(price)*/

/* 타이틀 */
.tit_box {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: 55px;
  font-size: 50px;
}

.title {
  display: flex;
  align-items: flex-end;
  font-size: 48px;
  font-weight: 600;
  margin: 0 10px;
}

.tit_desc {
  display: flex;
  align-items: flex-end;
  font-size: 40px;
  font-weight: 500;
  color: var(--color-font-grey);
}

.tit_price {
  display: flex;
  align-items: flex-end;
  font-size: 48px;
  font-weight: 600;
  color: var(--color-green);
  font-weight: var(--weight-bold);
  margin-left: 15px;
  margin-right: 5px;
}

/* 목차 */

.priceList_title {
  height: 100%;
}
.priceList_title i {
  font-size: 40px;
}

/*shoppinglist table 시작*/
.priceList_table .priceList_title {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 50px;
  font-size: 32px;
  font-weight: 700;
  margin: 54px 0;
}

.priceList_title {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  font-size: 30px;
  font-weight: 700;
  font-weight: var(--weight-bold);
  color: #4e4e4e;
}

.priceList_title > div {
  margin-top: 5px;
  height: 57px;
}

/* 아이템 리스트 */

.priceList_list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.pricelist_box {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 50px;
  font-size: 25px;
  font-weight: 700;
  background-color: var(--color-light-green);
  border-radius: 5px;
  margin: 4px 0;
  border-radius: 10px;
  color: var(--color-font-grey);
}

.pricelist_box .list-content{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.list_content.mar1{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 400px;
  margin: 0 0 0 104px;
}

.list_content.mar2{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 150px;
  margin: 0 120px 0 10px;
}
.list_content.mar3{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 150px;
  margin: 0 260px 0 20px;
}
.list_content.mar4{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 150px;
}

.list_subject {
  font-size: 25px;
  font-weight: 700;
  text-align: center;
  margin-right: 10px;
}

.list_kind {
  font-weight: var(--weight-light);
  font-size: 24px;
}

.list_class {
  font-weight: var(--weight-light);
  font-size: 24px;
}

.list_quantity {
  font-weight: 700;
}

.list_martprice {
  font-weight: 700;
}

/* .pricelist_first {
  border: 1px;
  width: 800px;
  box-sizing: border-box;
  margin-left: 4%;
  margin-top: 0.7%;
  text-align: left;
}

.pricelist_first2 {
  border: 1px;
  width: 800px;
  box-sizing: border-box;
  margin-left: 4%;
  margin-top: 0.7%;
  text-align: left;
}

.pricelist_second {
  border: 1px;
  margin-left: 1%;
  width: 200px;
  box-sizing: border-box;
  margin-top: 0.7%;
  text-align: center;
}
.pricelist_third {
  border: 1px;
  margin-left: 1%;
  width: 250px;
  box-sizing: border-box;
  margin-top: 0.7%;
  text-align: center;
}

.pricelist_fourth {
  border: 1px;
  margin-left: 1%;
  margin-right: 2%;
  width: 250px;
  box-sizing: border-box;
  margin-top: 0.7%;
  text-align: center;
} */

/* .list_sub_text {
  margin-top: 80px;
  font-size: 33px;
  display: flex;
  justify-content: center;
}

.list_sub_text > .list_sub_text_avg {
  display: flex;
  background-color: var(--color-yellow);
  color: #ff5858;
  font-weight: var(--weight-extra-bold);
  font-size: 40px;
  line-height: 30px;
}

.list_sub_text2 {
  margin-top: 20px;
  font-size: 33px;
  display: flex;
  justify-content: center;
  color: var(--color-font-grey);
}

.list_sub_text_mart {
  background-color: var(--color-yellow);
  font-weight: var(--weight-bold);
}

.list_sub_text2_group {
  display: flex;
  background-color: var(--color-yellow);
  color: #ff5858;
  font-weight: var(--weight-extra-bold);
  font-size: 40px;
  line-height: 30px;
} */


/* .list_avg_price {
  font-weight: var(--weight-semibold);
}  */

/* .list_textbox{
  display: flex;
} */

/* .jang_textbox {
  margin-left: -100px;
  width: 1200px;
}

.shoppinglist3_jang_textbox {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.shoppinglist3_jang_text {
  margin-top: 190px;
  margin-bottom: 300px;
  margin-left: -760px;
  font-size: 35px;
  font-weight: var(--weight-regular);
  color: var(--color-font-grey);
}

.shoppinglist3_sub_differ_price {
  color: #ff5858;
  font-weight: var(--weight-bold);
}

.shoppinglist3_recomm_product {
  font-weight: var(--weight-bold);
}
