@charset "utf-8";

/* Global */
:root {
  /* Color */
  --color-white: #ffffff;
  --color-yellow: #fffcb6;
  --color-light-green: #e1fff0;
  --color-green: #4cd492;
  --color-light-blue: #aad6ff;
  --color-blue: #7cb0ff;
  --color-dark-blue: #0034ec;
  --color-light-red: #fbc3c3;
  --color-red: #eb7767;
  --color-regular-red: #e74c3c;
  --color-dark-red: #e10000;
  --color-grey: #d9d9d9;
  --color-font-grey: #585858;
  --color-black: #231816;

  /* Font size */
  --font-large: 40px;
  --font-medium: 22px;
  --font-regular: 18px;
  --font-small: 15px;
  --font-micro: 13px;

  /* Font weight */
  --weight-extra-bold: 800;
  --weight-bold: 700;
  --weight-medium: 500;
  --weight-regular: 400;
  --weight-light: 300;

  /* Size */
  --btn-border-radius: 10px;
  --input-border-radius: 10px;
  --shopping-list-border-radius: 10px;
  --map-border-radius: 10px;
  --price-list-border-radius: 30px;

  /* Animation */
  /* --animation-duration: 300ms; */
}

/* Icon - Google Material icons */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(path/to/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'), local('MaterialIcons-Regular'),
    url(path/to/MaterialIcons-Regular.woff2) format('woff2'),
    url(path/to/MaterialIcons-Regular.woff) format('woff'),
    url(path/to/MaterialIcons-Regular.ttf) format('truetype');
}

/* Utility */
/* 스크린 리더 전용 */
.sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

/* 한줄 말줄임 */
.sl-ellipsis {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* 둘줄 말줄임 */
.multi-ellipsis {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

/* Universal tags*/
* {
  box-sizing: border-box;
}

body {
  font-family: 'Gothic A1', sans-serif;
  margin: 0;
  cursor: default;
}

a {
  text-decoration: none;
  color: var(--color-white);
}

ul {
  list-style: none;
  padding-left: 0;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

/* Typography */

h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-white);
  margin: 16px 0px;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-bold);
  color: var(--color-white);
  margin: 8px 0;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 4px 0;
}

/* (1920x1080) Full HD Display */

/* Header */
.header {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 170px;
  margin: auto;
  justify-content: center;
  align-items: center;
}

/* Navbar */
#navbar__vers-green {
  position: sticky;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 28px 200px;
}

.logo__green {
  width: auto;
  height: 78px;
}

.navbar__menu {
  display: flex;
  align-items: center;
  width: 760px;
  height: 68px;
}

.navbar__menu__item {
  margin-right: 35px;
  font-size: 23px;
  height: 28px;
  font-weight: var(--weight-bold);
  color: var(--color-black);
  cursor: pointer;
}

.navbar__menu__item.active {
  color: var(--color-green);
  font-weight: var(--weight-extra-bold);
}

.navbar__menu__login-btn {
  width: 160px;
  height: 63px;
  font-size: 23px;
  background-color: var(--color-green);
  color: var(--color-white);
  border-radius: var(--btn-border-radius);
}

/* Title bar */
#titlebar {
  display: flex;
  position: sticky;
  top: 170px;
  width: 100%;
  height: 106px;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--color-green);
  padding: 0 203px;
}

.tit__sub__txt {
  font-size: var(--font-large);
  font-weight: var(--weight-light);
  color: var(--color-white);
  margin: 8px 0;
}

/* Section common */
.section {
  padding: 50px 0 0 0;
  max-width: 1520px;
  margin: auto;
}

/* Main Page */
/* Intro Page */
/* Shopping List Page */
#shopping-list{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}
/*스크롤바*/
.container{
  height: 50vh;
  overflow-y:scroll; 
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.container::-webkit-scrollbar{
  display: none; /* Chrome, Safari, Opera*/
}
.container table tr th {
  text-align: center; 
  vertical-align: middle; 
  word-break: keep-all;
  padding-right: 3em;
}
/*테이블*/
.container table tr td {
  text-align: center; 
  vertical-align: middle; 
  word-break: keep-all;
  padding-right: 3em;
}
table {
    width: 1300px;
    border-top: 0px solid var(--color-font-grey);
    border-collapse: collapse;

}
th, td {
    font-weight: 400;
    border-bottom: 1px solid var(--color-font-grey);
    padding: 10px;
    
}
.check{
  accent-color: #4CD492;
  width: 30px;
  height: 30px;
}
.btn{
  border:none;
    outline: none;
  background: none;
}

.btn-r{
  border: 3px solid #4CD492 ;
    border-radius: var(--shopping-list-border-radius);
  background: none;
}
.num-btn {
  border-radius: 10px;
}

.num-btn >  input {
  border: none;
  background-color: #4CD492;
}
#btn-box{
	display: flex;
	justify-content:space-between;
  padding-top: 20px;
}
.btn-m{
  background: var(--color-red);
  border-radius: var(--btn-border-radius);
  width: 400px;
  height: 45px;
  
}
.btn-m > span {
color: var(--color-white);
font-size: var(--font-medium);
font-weight: var(--weight-bold);
}

/*modal*/
.hidden{
  display: none;
}
.popup-wrap {
  background-color: rgba(0, 0, 0, .3);
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  padding: 15px;
}

.popup {
  width: 100%;
  max-width: 400px;
  border-radius: 10px;
  overflow: hidden;
  background-color: #264db5;
  box-shadow: 5px 10px 10px 1px rgba(0, 0, 0, .3);
}

.popup-head {
  background-color: #4CD492;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  padding: 10px 0 0 25px;

}

.popup-body {

  width: 100%;
  background-color: #ffffff;
}

.body-content {
  width: 100%;
  padding: 30px;
}

.body-titlebox {
  position: relative;
  width: 100%;
  height: 40px;
  margin-bottom: 10px;

}

.body-contentbox {
  word-break: break-word;
  overflow-y: auto;

}

.popup-foot {
  background-color: #4CD492;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.pop-btn {
  width: 70px;
  height: 44px;
  left: 350px;
  top: 690px;
  font-family: 'Gothic A1';
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 44px;

  color: #FFFFFF;
  cursor: pointer;
}

.head-title {
  width: 100%;
  height: 100%;

  font-family: 'Gothic A1';
  font-style: normal;
  font-weight: 800;
  font-size: 30px;
  line-height: 45px;

  color: #FFFFFF;
}

.body-contentbox>div {
  padding: 10px 0px;
}

.body-contentbox>div>input[type='text'] {
  border: none;
  border-bottom: 3px solid #9C9C9C;
  outline: none;
  font-family: 'Gothic A1';

}

.body-contentbox>span {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
}

select {
  width: 200px;
  padding: .8em .5em;
  font-family: inherit;
  -webkit-appearance: none;
  border: 1px solid #999;
  border-radius: 0px;
  -moz-appearance: none;
  appearance: none;
  background: url(/assets/icons/baseline_arrow.png) no-repeat 95% 50%;
}

select::-ms-expand {
  display: none;
}

.body-titlebox>input[type='text'] {
  width: 294px;
  height: 34px;
  border: 1.5px solid var(--color-grey);
  border-radius: var(--input-border-radius);
  margin: 0;
  outline: none;
  /* padding: 4px; */
  box-sizing: border-box;
  transition: 0.3s;
  font-size: 11px;
  color: var(--color-black);
  padding-left: 36px;
}

.body-titlebox>input[type='text']:focus {
  border-color: var(--color-green);
  box-shadow: 0 0 8px 0 var(--color-green);
}

.body-titlebox i {
  position: absolute;
  left: 0;
  top: 1px;
  width: 35px;
  height: 33px;
  padding: 4px 8px;
  color: var(--color-grey);
  transition: 0.3s;
}
.body-titlebox>input[type='text']:focus+i {
  color: var(--color-green);
}
.num-btn {
  border-radius: 10px;
}
.modal-btn {
  border: none;
  background-color: #4CD492;
}
/* PriceData Page */
/* Account Book Page */
/* Mart Discount Info Page */
